.chartContainer {
   min-width: 800px;
   overflow: auto;
}

.controlGroup {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 20px;

   div {
      color: var(--font-light) !important;
   }

   label {
      background-color: var(--color-1);
      padding: 2px 6px;
      color: var(--font-light) !important;
   }

   div[aria-disabled=true] {
      opacity: 0.25;
   }

   input:disabled {
      color: var(--font-light) !important;
   }
}

.firstBox {
   flex-grow: 1;
   max-width: 50%;
}

.secondBox {
   max-width: 50%;
   display: flex;
   flex-grow: 1;
   gap: 10px;
}


@media screen and (width < 756px) {
   .controlGroup {

   }
   
   .firstBox {
      max-width: 65%;
   }
   
   .secondBox {
      max-width: 35%;
      flex-direction: column;
   }
   
}